@media screen and (min-width: 993px) and (max-width: 1199px){

:root {
  --dark:#444f4f;
  --light: #f4f4f4;
  --natur: #69914b;
  --ovrigt: #a1618c;
  --history: #2f879e;
  --economy: #c39423;
  --text: Oswald;
  --brod: sans-serif;
}

body{
  height: 100vh;
  min-width: 768px;
 
}

#wrapper{
  height: 100%;
  width: 100vw;
  max-width: 1199px;
  background-color: var(--dark);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 12vh 83vh 5vh;
  grid-gap: auto;
  overflow: auto;
  margin: 0 auto;
 padding-bottom: 30vh;
 z-index: 0;
}
#menu{
  display: none;
}

#toggleBtn{
  display: none;
}

#buttons{
  display: none;
}

#buttoncenter{
  display: none;
}

#mb{

  border-bottom: 0.25vh solid var(--light);
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  background-color: var(--dark);
}

 #menubar{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 2vh; 
 }
 
 
#mb .link{
  border: 0.25vh solid var(--light);
  width: 15vw;
  height: 5vh;
  background-color: var(--dark);
  border-radius: 10vh;
 margin-top: 1vh;
 display: flex;
 align-items: center;
 justify-content: center; 
}

.link img {
  width:1.8rem;
  margin-right: 0.5rem;
}

.link a{
  font-family: var(--text);
  font-size: 1.6rem;
  color: var(--light);
  text-decoration: none;
}

#logomenu{
  width: 9vw;
  max-width: 90px;
  margin: 0;
  padding: 1vh;


}

#container{
  width: 90%;
  height: 100%;
  padding-top: 4vh;
  margin: 0 auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: 14% 14% 14% 10% 12% 12%;
  grid-gap:2%;
  
}
#dagens{
  width: 100%;
  background-color: var(--light);
  border-radius: 15px;
  font-family: var(--brod);
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
 padding-bottom: 1vh;
}

.rubrik{
  display:grid;
  grid-template-columns: 9rem auto;
  background-color: var(--history);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding:1vh 0;
  font-family: var(--text);
 }

.rubrik img{
  width:4.5rem;
  margin: 0.5rem 0.5rem 0.5rem 3rem;
  grid-column-start: 1;
  grid-column-end: 2;
}

#dagens h1{
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  color: var(--light);
  align-self: center;
}

#dagens .txtBox {
 max-height: 22vh;
 overflow: auto;
 margin:1vh 2vw 0 2vw;
 font-family:var(--brod);
 font-size: 0.7rem;
}

 #more{
  display: none;
 }
 
 #myBtn{
 background-color: var(--light);
 border: 0.25vh solid var(--dark);
  border-radius: 15px; 
 font-family: var(--text);
 padding:0.5vw 1vw;
 margin-top: 1vh;
 
 }

#random{
  height: 8.3vh;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 15px;
  font-family: var(--text);
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
}


#random a{
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
 color: var(--dark);
}


#random a:link {
   color: var(--dark);
    text-decoration: none;
}

 #random a:visited;{
  background-color: var(--light);
 
 }
 
#veckan{
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 7;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#oneday{
  width: 28.8vw;
}

#oneday button{
  font-size: 2em;
}

#twodays{
  width: 28.8vw;
}

#twodays button{
  font-size: 2em;
}

#threedays{
  width: 28.8vw;
}

#threedays button{
  font-size: 2em;
}


#fourdays{
  width: 28.8vw;
}

#fourdays button{
  font-size: 2em;
}


#footer{
 position:fixed;
 bottom:0;
 width:100vw;
 height: 5vh;
 z-index: 3;
 background-color:  var(--dark);
 border-top:0.25vh solid var(--light);
 color: var(--light);
 text-align: center;
 padding-top: 2.5vh;
 font-size: 2vh;
 font-family: var(--text);
}

/*
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
*/
#containernatur{
  width: 90%;
  height: 100%;
  padding-top: 2%;
  margin: 0 auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-gap:2%;
}

#plusminus{
  display:flex;
  justify-content: center;
  height: 100%;
  background-color: var(--dark);
}

#plusminus img{
  width: 35%;
}

.fakta{
  margin-top: 0.5vh;
  border-radius: 20px;
  padding: 1rem;
  width: 40vw;
}

.fakta h1{
  color: var(--light);
  background-color: var(--natur);
  text-align: center;
  padding: 1.5vh;
  font-family: var(--text);
  font-size: 3.2rem;
    max-height: 99px;
  border-radius: 20px 20px 0px 0px;
}
 
 span img{
  height: 3rem;
  max-height: 70px;
  padding-right: 0.5rem;
 }
 
.fakta p{
  border-radius: 0px 0px 20px 20px;
  background-color: var(--light);
  padding: 1.5vh;
  height: 20vh;
  overflow: auto;
  font-family:var(--brod);
}

#doldfakta{
  display:none;
}

#natursida{
  width: 100%;
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
}
 

/*
 ALLMÄN KNAPP
 ALLMÄN KNAPP
 ALLMÄN KNAPP
 ALLMÄN KNAPP
 */
 .collapsible {
    cursor: pointer;
    width: 100%;
    height: 8.3vh;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    font-size: 7vw;
    font-family: var(--text);
    margin-bottom: 1vh;
}

.collapsible.active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  margin-bottom: 0;
}
 
 .form p{
   padding: 2vw;
 margin-bottom: 1vh;
 max-height: 11vh;
 overflow: auto;
 font-family: var(--brod);
 font-size:0.7rem;
 }
 
/*
 naturknapp
 naturknapp
 naturknapp
 naturknapp
 */
 
.natcolor {
 color: var(--natur);
 background-color: var(--light);
}
 
.collapsible.natcolor.active {
 color: var(--light);
 background-color: var(--natur);
}

.collapsible.natcolor.hover{
    background-color: var(--light);
    color: var(--natur);
}


.naturfakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}



/*
ÖVRIGTKNAPP
ÖVRIGTKNAPP
ÖVRIGTKNAPP
ÖVRIGTKNAPP
*/
.ovrcolor {
 color: var(--ovrigt);
 background-color: var(--light);
}
 
.collapsible.ovrcolor.active {
 color: var(--light);
 background-color: var(--ovrigt);
}

.collapsible.ovrcolor.hover{
    background-color: var(--light);
    color: var(--ovrigt);
}


.ovrigtfakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*
Ekonomiknapp
Ekonomiknapp
Ekonomiknapp
Ekonomiknapp
*/ 
 
.ekocolor {
 color: var(--economy);
 background-color: var(--light);
}
 
.collapsible.ekocolor.active {
 color: var(--light);
 background-color: var(--economy);
}

.collapsible.ekocolor.hover{
    background-color: var(--light);
    color: var(--economy);
}


.ekonomifakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*
historiaknapp
historiaknapp
historiaknapp
historiaknapp
*/ 

 .hiscolor {
 color: var(--history);
 background-color: var(--light);
}
 
.collapsible.hiscolor.active {
 color: var(--light);
 background-color: var(--history);
}

.collapsible.hiscolor.hover{
    background-color: var(--light);
    color: var(--history);
}


.historiafakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

}