



@media screen and (min-width: 768px) and (max-width: 992px){

:root {
  --dark:#444f4f;
  --light: #f4f4f4;
  --natur: #69914b;
  --ovrigt: #a1618c;
  --history: #2f879e;
  --economy: #c39423;
  --text: Oswald;
  --brod: sans-serif;
}

body{
	height: 100vh;
 min-width: 768px;
}

#wrapper{
	height: 100%;
	width: 100vw;
	max-width: 992px;
	background-color: var(--dark);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 12vh 78vh 10vh;
	grid-gap: auto;
	overflow: auto;
 margin: 0 auto;
 padding-bottom: 30vh;
 	z-index: 0;
}

 
#mb{
  width: 100vw;
  border-bottom: 0.25vh solid var(--light);
 	background-color: var(--dark);
  grid-row-start: 1;
	 grid-row-end: 2;
 }
 
 #menubar{
  display: none;
 } 
 
#menu{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
}

 #buttonpanel{
  width: 8vw;
  /*margin-left: 5vw;*/
  padding-top: 2vh;
 }


#buttons{
	display: none;
	width: 100vw;
	height: 30vh;
	background-color: var(--dark);
	border-bottom: 0.25vh solid var(--light);
}

#buttoncenter{
	
	background-color: var(--dark);
	border-bottom: 0.25vh solid var(--light);
	width: 100%;
 position: fixed;
 left:0;
	height: 30vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
 align-content: space-around;
 z-index: 4;
}

.link{
	border: 0.25vh solid var(--light);
	width: 40vw;
	height: 8vh;
	background-color: var(--dark);
	border-radius: 10vh;
	display: flex;
 align-items: center;
 justify-content: center;	
}

.link img {
	width: 7vw;
 margin-right: 1.5vw;
}

.link a{
  font-family: var(--text);
  font-size: 7vw;
  color: var(--light);
  text-decoration: none;
}

#logo{
	width: 12vw;
	max-width: 90px;
	margin: 0;
	padding-top: 2vh;

}

 #easter img{
 width: 18vw;
	max-width: 80px;
	margin: 0;
	padding-top: 2vh;
 visibility: hidden;
 }


#container{
  width: 90%;
  height: 100%;
  padding-top: 4vh;
  margin: 0 auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: 14% 14% 14% 10% 14% 14%;
  grid-gap:2%;
 

}
#dagens{
  width: 100%;
  background-color: var(--light);
  border-radius: 15px;
  font-family: var(--text);
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.rubrik{
 	display:grid;
 	grid-template-columns: 15vw auto;
 	background-color: var(--history);
 	border-top-left-radius: 15px;
 	border-top-right-radius: 15px;
 	padding:0.5vh 0 1.5vh 0;
}

.rubrik img{
 width:11vw;
 padding: 1vh 1vw 1.5vh 2vw;
 grid-column-start: 1;
	grid-column-end: 2;
}

#dagens h1{
	font-size: 9vh;
	grid-column-start: 2;
	grid-column-end: 3;
	color: var(--light);
 margin-bottom: 1vh;
}

#dagens .txtBox {
 max-height: 18vh;
 overflow: auto;
 margin:1vh 2vw 0 2vw;
font-family:var(--brod);
 font-size: 0.82rem;
}

 #more{
  display: none;
 }
 
 #myBtn{
 background-color: var(--light);
 border: 0.15vh solid var(--dark);
	border-radius: 10px; 
 font-family: var(--text);
 padding:0.5vw 2vw;
 margin-top: 1vh;
 
 }
  
#random{
  height: 7.5vh;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 15px;
  font-family: var(--text);
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
}


#random a{
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
 color: var(--dark);
}


#random a:link {
   color: var(--dark);
    text-decoration: none;
}

 #random a:visited;{
  background-color: var(--light);
 }

#veckan{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#oneday{
  width: 45%;
}

#oneday button{
  font-size: 2em;
}

#twodays{
  width: 45%;
}

#twodays button{
  font-size: 2em;
}

#threedays{
  width: 45%;
}

#threedays button{
  font-size: 2em;
}


#fourdays{
  width: 45%;
}

#fourdays button{
  font-size: 2em;
}


#footer{
 position:fixed;
 bottom:0;
 width:100vw;
 height: 5vh;
 z-index: 3;
 background-color:  var(--dark);
 border-top:0.25vh solid var(--light);
 color: var(--light);
 text-align: center;
 padding-top: 2.5vh;
 font-size: 2vh;
 font-family: var(--text);
}



/*
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
*/
#containernatur{
  width: 90%;
  height: 100%;
  padding-top: 2%;
  margin: 0 auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-gap:2%;
}

#plusminus{
  display:flex;
  justify-content: center;
  height: 100%;
  background-color: var(--dark);
}

#plusminus img{
  width: 30%;
}

.fakta{
  margin-top: 0.5vh;
  border-radius: 20px;
  padding: 1.5vh;
  width: 40vw;
}

.fakta h1{
  color: var(--light);
  background-color: var(--natur);
  text-align: center;
  padding: 1.5vh;
  font-family: var(--text);
  font-size: 5vh;
  border-radius: 20px 20px 0px 0px;
  width: 36.5vw;
}

  span img{
  height: 5vh;
  padding-right: 1vw;
 }
 
.fakta p{
  border-radius: 0px 0px 20px 20px;
  background-color: var(--light);
  padding: 1.5vh;
  height: 15vh;
  overflow: auto;
  font-family:var(--brod);
  width: 36.5vw;

}

#doldfakta{
  display:none;
}

#natursida{
  width: 100%;
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
}

.natport {
    width: 100%;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

 .natform{
    width: 100%;
    height: 14vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }
/*
 ALLMÄN KNAPP
 ALLMÄN KNAPP
 ALLMÄN KNAPP
 ALLMÄN KNAPP
 */
 .collapsible {
    cursor: pointer;
    width: 100%;
    height: 8.3vh;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    font-size: 7vw;
    font-family: var(--text);
    margin-bottom: 1vh;
}

.collapsible.active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  margin-bottom: 0;
}
 
 .form p{
  padding: 2vw;
  margin-bottom: 1vh;
  max-height: 10vh;
  overflow: auto;
  font-family: var(--brod);
  font-size:0.82rem;
 }
 
 .form{
    width: 100%;
    display: none;
    height: 14vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 
/*
 naturknapp
 naturknapp
 naturknapp
 naturknapp
 */
 
.natcolor {
 color: var(--natur);
 background-color: var(--light);
}
 
.collapsible.natcolor.active {
 color: var(--light);
 background-color: var(--natur);
}

.collapsible.natcolor.hover{
    background-color: var(--light);
    color: var(--natur);
}

.naturfakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


/*
ÖVRIGTKNAPP
ÖVRIGTKNAPP
ÖVRIGTKNAPP
ÖVRIGTKNAPP
*/
.ovrcolor {
 color: var(--ovrigt);
 background-color: var(--light);
}
 
.collapsible.ovrcolor.active {
 color: var(--light);
 background-color: var(--ovrigt);
}

.collapsible.ovrcolor.hover{
    background-color: var(--light);
    color: var(--ovrigt);
}

.ovrigtfakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}




/*
Ekonomiknapp
Ekonomiknapp
Ekonomiknapp
Ekonomiknapp
*/ 
 
.ekocolor {
 color: var(--economy);
 background-color: var(--light);
}
 
.collapsible.ekocolor.active {
 color: var(--light);
 background-color: var(--economy);
}

.collapsible.ekocolor.hover{
    background-color: var(--light);
    color: var(--economy);
}
.ekonomifakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}




/*
historiaknapp
historiaknapp
historiaknapp
historiaknapp
*/ 

 .hiscolor {
 color: var(--history);
 background-color: var(--light);
}
 
.collapsible.hiscolor.active {
 color: var(--light);
 background-color: var(--history);
}

.collapsible.hiscolor.hover{
    background-color: var(--light);
    color: var(--history);
}

.historiafakta {
    width: 100%;
    display: none;
    height: 18vh;
    margin-bottom: 1vh;
    background-color: var(--light);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

}