:root {
	--dark:#444f4f;
	--light: #f4f4f4;
	--natur: #69914b;
	--ovrigt: #a1618c;
	--historia: #2f879e;
	--ekonomi: #c39423;
	--text: Oswald;
}

body{
}

#wrapper{
	height: 100vh;
	background-color: var(--dark);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 10vh 85vh 5vh;
	grid-gap: auto;
	min-width: 250px;
}
#menu{
	border-bottom: 0.25vh solid var(--light);
	grid-row-start: 1;
	grid-row-end: 2;
	position: relative;
	display: inline-block;
}

#toggleBtn{
	transition: linear 2s;
}

#buttonPanel{
/*	grid-column-start:1;
	grid-column-end:2;*/
	display: 
}


#buttons{
	display: none;
	width: 100vw;
	max-width: 767px;
	background-color: blue;
}

.link{
	border: 0.25vh solid var(--light);
	width: 40vw;
	height: 10vh;
}

.link img {
	width:10vw;
}

.link a{
	font-family: var(--text);
	font-size: 10vw;
}

#logo{
	width: 20vw;
	max-width: 150px;
	margin: 0;
	padding: 0;
	/*grid-column-start:2;
	grid-column-end:3;*/
	place-self: center;
}

#container{
	background-color: red;
	width: 90%;
	height: 100%;
	padding-top: 2%;
	margin: 0 auto;
	grid-row-start: 2;
	grid-row-end: 3;
	display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 15%;
	grid-template-rows: 14% 14% 14% 14% 14% 14%;
	grid-gap:2%;
	
}
#dagens{
	width: 100%;
	background-color: var(--light);
	border-radius: 15px;
	font-family: var(--text);
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 4;
}

#dagens h1{
	text-align: center;
	margin-bottom: 2vh;
	font-size: 3em;
}

#random{
	height: 50%;
	background-color: var(--light);
	border-radius: 15px;
	font-family: var(--text);
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 5;
}

#random a{
	margin: 0 auto;
	font-size: 2em;
	text-align: center;
}

#footer{
	grid-row-start: 3;
	grid-row-end: 4;
	border-top: 0.25vh solid var(--light);
}



/*
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
*/
#natursida{
	width: 100%;
	background-color: yellow;
	margin: 0 auto;
}

.collapsible {
  	background-color: var(--light);
  	padding: 15px;
  	color: white;
  	cursor: pointer;
  	width: 80%;
  	border: none;
  	text-align: center;
  	outline: none;
  	font-size: 15px;
  	border-radius: 20px;
  	margin-top: 2vh;
  	color: var(--natur);
  	font-size: 7vw;
  	font-family: var(--text);
 	grid-row-start: 2;
	grid-row-end: 3;
}

.active {
  background-color: var(--natur);
  color: var(--light);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
} 

.collapsible:hover {
  background-color: var(--natur);
  color: var(--light);
}

.naturfakta {
  width: 80%;
  display: none;
  overflow: hidden;
  margin-bottom: 3px;
  background-color: var(--light);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-transition: ease-in 2s;
  font-family: var(--text);
  font-size: 4vw;
}

.naturfakta p{
	padding: 4vw;
	text-align: justify;
}