@media screen and (min-width: 1200px){

:root {
  --dark:#444f4f;
  --light: #f4f4f4;
  --natur: #69914b;
  --ovrigt: #a1618c;
  --history: #2f879e;
  --economy: #c39423;
  --text: Oswald;
  --brod: sans-serif;
}

body{
  height: 100vh;
  min-width: 1200px;
 
}

#wrapper{
  height: 100%;
  width: 100vw;
  background-color: var(--dark);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 12vh 88vh;
  grid-gap: 0;
  overflow: auto;
  margin: 0 auto;
  padding-bottom: 30vh;
  z-index: 0;
}
#menu{
  display: none;
}

#toggleBtn{
  display: none;
}

#buttons{
  display: none;
}

#buttoncenter{
  display: none;
}

#mb{
  border-bottom: 0.25vh solid var(--light);
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  background-color: var(--dark);
}

 #menubar{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 2vh; 
 }
 
 
#mb .link{
  border: 0.25vh solid var(--light);
  width: 15vw;
  max-width: 255px;
 	background-color: var(--dark);
  border-radius: 10vh;
 	margin-top: 0.5rem;
 	display: flex;
	 align-items: center;
 	justify-content: center; 
}

.link img {
  width:1.8rem;
  margin-right: 0.5rem;
}

.link a{
  font-family: var(--text);
  font-size: 1.6rem;
  color: var(--light);
  text-decoration: none;
}

#logomenu{
  width: 9vw;
  max-width: 90px;
  margin: 0;
  padding-top: 1vh;
}

#container{
	max-width: 1200px;
  width: 90%;
  height: 100%;
  padding-top: 4vh;
  margin: 0 auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: 14% 14% 14% 10% 14% 14%;
  grid-gap:2%;
}
 
#dagens{
  width: 100%;
  background-color: var(--light);
  border-radius: 15px;
  font-family: var(--brod);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-bottom: 1vh;
}

.rubrik{
  background-color: var(--history);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding:1vh 0;
  font-family: var(--text);
 }

.rubrik span img{
   width:3.5rem;
   height:3.5rem; 
}

#dagens h1{
  font-size: 4.5rem;
  color: var(--light);
  text-align: center;
  margin: 0 1.5rem;
  padding-bottom: 1rem;
}

#dagens .txtBox {
  max-height: 24vh;
  overflow: auto;
  margin:1vh 2vw 0 2vw;
  font-family: var(--brod);
  font-size: 0.9rem;
}

 #more{
  display: none;
 }
 
 #myBtn{
  background-color: var(--light);
  border: 0.15vh solid var(--dark);
  border-radius: 15px; 
  font-family: var(--text);
  padding:0.5vw 1vw;
  margin-top: 1vh;
 }

#random{
  height: 8.3vh;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 15px;
  font-family: var(--text);
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
}


#random a{
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  color: var(--dark);
}


#random a:link {
  color: var(--dark);
  text-decoration: none;
}

 #random a:visited;{
  background-color: var(--light);
 }
 
#veckan{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#oneday{
  width: 100%;
}

#oneday button{
  font-size: 2em;
}

#twodays{
  width: 100%;
}

#twodays button{
  font-size: 2em;
}


#oneday button{
  font-size: 2em;
}

#twodays{
  width: 100%;
}

#twodays button{
  font-size: 2em;
}


#threedays{
  width: 100%;
}

#threedays button{
  font-size: 2em;
}

#fourdays{
  width: 100%;
}

#fourdays button{
  font-size: 2em;
}

#footer{
 position:fixed;
 bottom:0;
 width:100vw;
 height: 5vh;
 z-index: 3;
 background-color:  var(--dark);
 border-top:0.25vh solid var(--light);
 color: var(--light);
 text-align: center;
 padding-top: 2.5vh;
 font-size: 2vh;
 font-family: var(--text);
}
 
/*
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
NATURSIDA
*/
#containernatur{
  max-width: 1200px;
  width: 90%;
  height: 100%;
  padding-top: 2%;
  margin: 0 auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-gap:2%;
}

#plusminus{
  display:flex;
  justify-content: center;
  height: 100%;
  background-color: var(--dark);
}

#plusminus img{
  width: 35%;
}

.fakta{
  margin-top: 0.5vh;
  border-radius: 20px;
  padding: 1rem;
  width: 27vw;
  max-width: 365px;
}

.fakta h1{
  color: var(--light);
  background-color: var(--natur);
  text-align: center;
  padding: 1.5vh;
  font-family: var(--text);
  font-size: 3.2rem;
  max-height: 99px;
  border-radius: 20px 20px 0px 0px;
}

.fakta p{
  border-radius: 0px 0px 20px 20px;
  background-color: var(--light);
  padding: 1.5vh;
  height: 17vh;
  max-height: 240px;
  overflow: auto;
  font-family: var(--brod);
}

#doldfakta{
  display:none;
}

#natursida{
  width: 100%;
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
 
 span img{
  height: 3rem;
  max-height: 70px;
  padding-right: 0.5rem;
 }
 
 /*
 ALLMÄNT KNAPPAR
 ALLMÄNT KNAPPAR
 ALLMÄNT KNAPPAR
 ALLMÄNT KNAPPAR
 */
 
 .collapsible {
  margin-bottom: 0.5vh;
  cursor: pointer;
  width: 100%;
  height: 8.3vh;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 20px;
  font-family: var(--text);
}

.collapsible.active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  margin-bottom: 0;
}
 
 .form p{
  padding: 1.2rem;
  margin-bottom: 1vh;
  max-height: 11vh;
  overflow: auto;
  font-family: var(--brod);
  font-size:1rem;
 }
 
/*
 NATURKNAPP
 NATURKNAPP
 NATURKNAPP
 NATURKNAPP
*/
 
.natcolor {
  color: var(--natur);
  background-color: var(--light);
}
 
.collapsible.natcolor.active {
  color: var(--light);
  background-color: var(--natur);
}

.collapsible.natcolor.hover{
  background-color: var(--light);
  color: var(--natur);
}

.naturfakta {
  width: 100%;
  display: none;
  height: 18vh;
  margin-bottom: 1vh;
  background-color: var(--light);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*
ÖVRIGTKNAPP
ÖVRIGTKNAPP
ÖVRIGTKNAPP
ÖVRIGTKNAPP
*/
.ovrcolor {
 color: var(--ovrigt);
 background-color: var(--light);
}
 
.collapsible.ovrcolor.active {
 color: var(--light);
 background-color: var(--ovrigt);
}

.collapsible.ovrcolor.hover{
  background-color: var(--light);
  color: var(--ovrigt);
}

.ovrigtfakta {
  width: 100%;
  display: none;
  height: 18vh;
  margin-bottom: 1vh;
  background-color: var(--light);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*
Ekonomiknapp
Ekonomiknapp
Ekonomiknapp
Ekonomiknapp
*/ 
 
.ekocolor {
  color: var(--economy);
  background-color: var(--light);
}
 
.collapsible.ekocolor.active {
  color: var(--light);
  background-color: var(--economy);
}

.collapsible.ekocolor.hover{
  background-color: var(--light);
  color: var(--economy);
}

.ekonomifakta {
  width: 100%;
  display: none;
  height: 18vh;
  margin-bottom: 1vh;
  background-color: var(--light);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*
historiaknapp
historiaknapp
historiaknapp
historiaknapp
*/ 

 .hiscolor {
  color: var(--history);
  background-color: var(--light);
}
 
.collapsible.hiscolor.active {
  color: var(--light);
  background-color: var(--history);
}

.collapsible.hiscolor.hover{
  background-color: var(--light);
  color: var(--history);
}

.historiafakta {
  width: 100%;
  display: none;
  height: 18vh;
  margin-bottom: 1vh;
  background-color: var(--light);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

}